.vagrant/

# All configs except for VPN Config
configs/configJellyfin
configs/configDeluge
configs/configSonarr
configs/configRadarr
configs/configBazarr
configs/configDeluge
configs/configJackett

configs/configVPN/real_userpass.txt
configs/configVPN/real_openvpn.conf

volumes/
example_docker-compose.yml

media/