# Local files &  config
.vagrant/
volumes/
blackbird_docker-compose.yml
media/

# All configs except for VPN Config
configs/configJellyfin
configs/configDeluge
configs/configSonarr
configs/configRadarr
configs/configBazarr
configs/configDeluge
configs/configJackett

# No OpenVPN
configs/configVPN/OpenVPN/userpass.txt
configs/configVPN/OpenVPN/openvpn.conf
configs/configVPN/OpenVPN/.firewall
configs/configVPN/OpenVPN/.firewall6

# Misc
YourMediaServer.png