.vagrant/

# All configs except for VPN Config
configs/configJellyfin
configs/configDeluge
configs/configSonarr
configs/configRadarr
configs/configBazarr
configs/configDeluge
configs/configJackett

configs/configVPN/userpass.txt
configs/configVPN/openvpn.conf

volumes/
example_docker-compose.yml